{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Edit:{{user.username}} {% endblock %}

{% block body_block %}
  {% if changed %}
    <h3 class="alert alert-success">PASSWORD changed successfully</h3>
  {% else %}
    <h3 class="alert alert-warning">You are about to change your account PASSWORD!! </h3>
  {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class='btn btn-warning btn-sm'>Update</button>
    </form>
{% endblock %}
