{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Stories {% endblock %}

{% block body_block %}


  <div class="container">
    <h1>Stories</h1>
    <form method="GET" action="">
      <div class="input-group">
        <input class="form-control" type="text" name="query" placeholder="Search Stories" value="{{ request.GET.query }}">
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit">Search <i class='fa fa-search'></i></button> 
        </span>
      </div>
    </form>
    
    <hr>
    {% if not blogs %}
      <p class="alert alert-info">no search results</p>
    {% endif %}
    {% for blog in blogs %} 
      <!-- <a href="{% url 'app_blog:blog_detail' id=blog.id %}"> <h3>{{ blog.blog_title }}</h3> </a> -->
      <a href="{{ blog.get_absolute_url }}"> <h3>{{ blog.blog_title }}</h3> </a>
      
      <h6>&nbsp;  &nbsp;<em>Published at: {{ blog.publish}}</em></h6>

      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            {% if blog.blog_image %}
              <img src="{{ blog.blog_image.url }}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">
            {% else %}
              <em>No cover photo added</em>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-8">
          <p class="content-markdown">{{blog.blog_content|range_filter}}</p>
          <a href="{% url 'app_blog:blog_detail' id=blog.id %}" class="btn btn-outline-primary btn-sm">Read More</a>
          <h6> <em> author: <a href="#">{{blog.author}}</em> </a> </h6>
          <h6>{{blog.blog_like.count}} Likes | </h6>
          <hr>
        </div>
      </div>
    {% endfor %}




    <!-- pagination part -->
    <div class="pagination">
        <span class="step-links">
            {% if blogs.has_previous %}
                <a href="?{{ page_request_var }}=1 {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo; first</a>
                <a href="?{{ page_request_var }}={{ blogs.previous_page_number }} {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>

            {% if blogs.has_next %}
                <a href="?{{ page_request_var }}={{ blogs.next_page_number }} {% if request.GET.query %}&query={{ request.GET.query }} {% endif %}">next</a>
                <a href="?{{ page_request_var }}={{ blogs.paginator.num_pages }} {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

  </div>
{% endblock %}