{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{blog.blog_title}} {% endblock %}



{% block body_block %}

  <div class="col-sm-12">
      <blockquote class="blockquote">
        <p class="mb-0">  <h1>{{ blog.blog_title }}</h1>{% if blog.draft %}<span style="color: red;">Draft</span> {% endif %} </p>
        <footer class="blockquote-footer">{% if user == blog.author %}You{% else %}{{blog.author}}{% endif %}| <cite title="Source Title"> Published: {{blog.publish}} | Updated: {{blog.update_date}}</cite> | {{blog.blog_like.count}} Likes </footer>
      </blockquote>
      {% if user == blog.author %}
        <a href="{% url 'app_blog:blog_update' id=blog.id %}" class="btn btn-info btn-sm">Edit</a>
      {% endif %}
      <br>
      <br>
      {% if blog.blog_image %}
        <img src="{{ blog.blog_image.url }}" class="img-fluid" width="100%">
      {% endif %}
      <br>
    <p class="content-markdown">{{blog.blog_content}}</p>
    <hr>


    <!-- facebook like -->
  <!--   <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="false"></div>
    <hr> -->
    <!-- facebook comment section -->
    <!-- <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div> -->



    <!-- liked/unliked section -->
    <br>
    {% if not liked %}
      <a href="{% url 'app_blog:liked' pk=blog.pk %}"><i class="fa fa-thumbs-o-up fa-2x"></i></a> {{blog.blog_like.count}} Likes
    {% else %}
      <a href="{% url 'app_blog:unliked' pk=blog.pk %}"><i class="fa fa-thumbs-o-down fa-2x"></i></a> {{blog.blog_like.count}} Likes
    {% endif %}
    <hr>


    <!-- comments section -->
    <div>
      <p class="lead">Comments</p>
      <form method="POST" action=".">
        {{ comment_form|crispy }}
        {% csrf_token %}
        <input type='submit' value="Post" class='btn btn-info btn-sm'>
      </form>
      <hr>

      {% for comment in comments %}
      <blockquote class="blockquote" style="padding-left: 40px">

        <p class="mb-0">{{ comment.content }}</p>
        <footer class="blockquote-footer"> <small>{{ comment.user }} | <cite title="timestamp">{{ comment.timestamp }}|</cite></small> 
         {% if comment.children.count > 0 %} {{comment.children.count}} Replies | {% endif %}<a href="#" class="comment-reply-btn">Reply</a> </footer>

        <!-- reply section -->
        <div class="comment-reply">
          {% for reply in comment.children %}
            <blockquote class="blockquote" style="padding-left: 40px">
              <p class="mb-0">{{ reply.content }}</p>
              <footer class="blockquote-footer"> <small>{{ reply.user }} | <cite title="timestamp">{{ reply.timestamp }}</cite></small> </footer>
            </blockquote>
          {% endfor %}
          <form method="POST" action=".">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <input type='submit' value="Reply" class='btn btn-secondary btn-sm'>
          </form>
        </div>

      </blockquote>
      {% endfor %}

      <hr>
      <!-- {{ blog.commented_on.all }} -->
    </div>
  </div>

{% endblock %}
