{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Stories {% endblock %}

{% block body_block %}
  <div class="container">

    <form method="GET" action="">
      <div class="input-group">
        <input class="form-control" type="text" name="query" placeholder="Search in Stories, Author, Title" value="{{ request.GET.query }}">
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit">Search <i class='fa fa-search'></i></button> 
        </span>
      </div>
    </form>
    
    <hr>
    {% if not blogs %}
      <p class="alert alert-info">no search results</p>
    {% endif %}

    {% for blog in blogs %} 
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            {% if blog.blog_image %}
              <img src="{{ blog.blog_image.url }}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">
            {% else %}
              <em>No cover photo added</em>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-8">
          <blockquote class="blockquote">
            <p class="mb-0">  <h1>{{ blog.blog_title }}</h1> </p>
            <footer class="blockquote-footer">{{blog.author}} | <cite title="Source Title"> {{ blog.publish}}</cite> | {{blog.blog_like.count}} Likes </footer>
          </blockquote>
          <p class="content-markdown">{{blog.blog_content|range_filter}}</p>
          <a href="{{ blog.get_absolute_url }}" class="btn btn-outline-primary btn-sm">Read More</a>
          <hr>
        </div>
      </div>
      <br>
    {% endfor %}

    <!-- pagination part -->
    <div class="pagination">
        <span class="step-links">
            {% if blogs.has_previous %}
                <a href="?{{ page_request_var }}=1 {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo; first</a>
                <a href="?{{ page_request_var }}={{ blogs.previous_page_number }} {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>

            {% if blogs.has_next %}
                <a href="?{{ page_request_var }}={{ blogs.next_page_number }} {% if request.GET.query %}&query={{ request.GET.query }} {% endif %}">next</a>
                <a href="?{{ page_request_var }}={{ blogs.paginator.num_pages }} {% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

  </div>
{% endblock %}