{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block%} Edit | {{current_blog.blog_title}} {% endblock %}

{% block body_block%}
 {% if blog.author == user %}
    <div class="row">
      <div class="col-sm-8">
        <form  method="POST" enctype="multipart/form-data">
          {{form|crispy}}
          {% csrf_token %}
          <button type="submit" name="button" class="btn btn-info btn-sm">Update</button>
          <a href="{% url 'app_blog:blog_delete' id=blog.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Delete this Album ?')">Delete</a>
        </form>
      </div>
      <div class="col-sm-3">
        <img src="/media/{{blog.blog_image}}" class="rounded" width="100%">
      </div>
    </div>

  {% else %}
    <p class="alert alert-danger">You do not have permission to view the requested page</p>
  {% endif%}
{% endblock %}
